@media (max-width: 767px){
    .header-el{
        display: none;
    }
    .burger{
        display: flex !important;
        border: 0;
    }
    .header-img{
        width: 70%;
    }
    .header-elements{
        width: 30%;
    }
    .menu-burger{
        width: 30px;
    }
    .wrapper{
        font-size: clamp(1.5rem, 1rem + 18vw, 3rem);
    }
    .word-wrapper{
        left: 50%;
    }
    .word{
        font-size: 14px;
    }
}