@media (max-width: 767px){
    .header-el{
        display: none;
    }
    .burger{
        display: flex !important;
        border: 0;
    }
    .header-img{
        width: 70%;
    }
    .header-elements{
        width: 30%;
    }
    .menu-burger{
        width: 30px;
    }
    .wrapper{
        font-size: clamp(1.5rem, 1rem + 18vw, 3rem);
    }
    .word-wrapper{
        left: 50%;
    }
    .word{
        font-size: 14px;
    }
    .wrapper-sites, .wrapper-bots{
        flex-direction: column;
        align-items: center;
    
    }
    .wrapper-site, .wrapper-site-description, .wrapper-bot-description, .wrapper-bot-gifs{
        width: 90%;
    }
    .wrapper-site-description{
        margin-top: 20px;
    }
    .wrapper-button{
        justify-content: center;
    }
    .wrapper-bot-gif{
        width: 100%;
        margin-bottom: 30px;
    }
    .bot-icon{
        top: 9%;
        transform: translate(-50%, -50%) rotate(-33deg);
    }
    .mobile-blocks-wrapper{
        
        flex-direction: column;
    }
    .enter-nav::after{
        display: block;
    }
    .mobile-block{
        width: 90%;
    }
    .mobile-margin{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 0;
        margin-left: 0;
        
    }
    .wrapper-mobiles{
        
        align-items: center;
    }
    .project-name {
        
        transform: translate(-50%, -100%);
    }
    .mobile-title{
        width: 90%;
    }
    .img-bot{
        width: 35px;
      }
      
      .shadow-box>div>p{
        font-size: 10px;
      }
    .ar-title-m{
        display: block;
        margin-bottom: 30px;
    }
    .ar-title{
        display: none;
    }
    .description-text{
        width: 100%;
    }
    .description-job{
        
        width: 100%;
    }

}
@media (min-height: 700px){
    .wrapper-about{
        height: 75%;
    }
}
@media (max-width: 571px){
    .main-window-line{
        width: 60px;
        height: 13px;
    }
    .main-window-curcle{
        width: 30px;
        height: 30px;
    }
    .block-box{
        width: 30px;
        height: 25px;
        border-radius: 5px;
    }
    .wrapper-text{
        font-size: 7px;
    }
    .header-window-title{
        font-size: 20px;
     }
    .header-window-description{
        font-size: 13px;
    }
    .arrow{
        width: 40px;
        height: 40px;
    }
    .arrow-left{
        transform: translateX(25%) translateY(-50%);
    }
    .arrow-right{
        transform: translateX(-125%) translateY(-50%);
    }
    .review-wrapper{
        width: 100%;
    }
}
@media (max-width: 500px){
      .review-img{
        width: 145px;
        height: 145px;
      }
      .project-name{
        font-size: 10px;
      }
      .review-wrapper{
        font-size: 13px;
      }
      .review-title{

        font-size: 20px;
      }
      .container-descriptor{
        padding: 20px;
      }
}
@media (max-width: 390px){
    .project-container {
        width: 85px;
        height: 85px;
    }
}