@media (max-width: 1068px) {
	.header-nav>p{
        margin-left: 5px;
        margin-right: 5px;
    }
    .header-nav{
        justify-content: center;
    }
}
@media (max-width: 920px) {
    .header-nav>p{
        font-size: 12px;
    }
    .typing-text{
        font-size: 14px;
    }
    .header-button>button{
        font-size: 12px;
        padding: 5px 10px 5px 10px;
    }
}

@media (max-width: 767px) {
    .header-nav, .header-button{
        display: none;
    }
    .header-title{
        width: 100%;
        

    }
    .title{
        margin-top: 10px;
    }
    .main-window{
        margin-top: 0;
    }
    .button-request{
        margin-top: 20px;
    }
    .header-title{
        padding: 15px;
    }
    .advantages-element{
        flex-direction: column;
    }
    .advantages-element>.advantages-text{
        text-align: center;
        margin-top: 10px;
    }
    .services-element>p{
        font-size: 12px;
    }
    main{
        height: calc(100% - 110px);
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    
}

@media (max-width: 548px){
   
}