@font-face { 
    font-family: "MullerLight";
    src: url("fonts/MullerLight.eot");
    src: url("fonts/MullerLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/MullerLight.woff") format("woff"),
    url("fonts/MullerLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
:root{
  --main-color: rgb(34,33,73);
  --button-color: rgb(90, 147, 192);
}

body, html{
  width: 100%;
  height: 100%;

  overflow: hidden;
  font-family: "MullerLight" !important;
  color: #fff;
  position: relative;
}

.typing-text{
  text-shadow: 0 0 5px black;
  font-size: 18px;
  white-space: nowrap;
}

.wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  margin-top: 60px;
}

header{
  width: 100%;
  height: 60px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(34, 33, 73, 0.493);
  box-shadow: 0 0 5px black;

  position: fixed;
  transform: translateY(-60px);
}
header>a {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  z-index: 10;
  display: none;
}
header>a>img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 5px;
}

.header-title,.header-nav,.header-button{

  height: 100%;
}

.header-title{
  width: 35%;

  display: flex;
  align-items: center;
  padding: 20px;

}
.header-nav{
  width: 50%;
  display: flex;
  
  align-items: center;

}
.header-nav>p{
  margin-right: 20px;
  margin-left: 20px;
  font-size: 16px;

  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: .3s ;
  border-bottom: 1px solid #fffb0000;
}
.header-nav>p:hover{
  border-color: #fffb00;
}
.header-button{
  width: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.header-button>button{

  background-color: var(--button-color);
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}
.header-button>button:hover{
  transform: scale(1.1);
}

main{
  width: 100%;
  height: fit-content;
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  /* scroll-behavior: smooth; */

}
main::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
main::-webkit-scrollbar-track {
  background: var(--main-color)       /* цвет дорожки */
}
main::-webkit-scrollbar-thumb {
  background-color: #ffffff18;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 3px solid var(--main-color)  /* padding вокруг плашки */
}
.title, .title-all{
  width: 90%;
  max-width: 700px;
  margin-top: 30px;
}
.title{
  opacity: 0;
  animation: title 2s forwards;
  animation-delay: 1s;
}
.title-all{
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
#services{
  transform: translateX(-1000px);
}
#advantages-element-first{
  transform: translateX(1000px);
}
h1{
  
  text-shadow: 0 0 5px black;
  margin-top: 10px;
  text-align: center;
}

@keyframes title {
  100%{
    opacity: 1;
  }
}

.main-window, .wrapper-advantages, .wrapper-services, 
.wrapper-projects, .wrapper-clients, .wrapper-contacts{
  width: 90%;
  max-width: 700px;
  height: 400px;
  margin-top: 20px;
  height: fit-content;
}
.wrapper-advantages{
  margin-top: 0px;
  margin-bottom: 10px;

}

.window-message{
  width: fit-content;
  max-width: 80%;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  transition: .3s;
  cursor: pointer;
  opacity: .8;
}
.window-message:hover{
  transform: scale(1.05);
  opacity: 1;
}
.window-message>p{
  width: fit-content;
  padding: 10px;
  background-color: #ffffff5b;
  border-radius: 5px;
}
.message-info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.message-info>img{
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.window-message-wrapper{
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.message-left{
  justify-content: flex-start;
  transform: translateX(-2000px);
  animation: anim-left .6s forwards;
}
.message-right{
  justify-content: flex-end;
  transform: translateX(2000px);
  animation: anim-right .6s forwards;
}

@keyframes anim-left {
  100%{
    transform: translateX(0);
  }
}
@keyframes anim-right {
  100%{
    transform: translateX(0);
  }
}

.box-request{
  margin-top: 20px;
  width: 95%;
  max-width: 700px;
  padding: 10px;
  text-align: center;
  transform: scale(0);
  opacity: 0;
  animation: box-req 2s forwards;
  animation-delay: 2.3s;
}
@keyframes box-req {
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.box-request>p{
  font-size: 16px;
}
.button-request{
  padding: 10px 20px 10px 20px;
  background-color: var(--button-color);
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  margin-top: 30px;
}
.button-request:hover{
  transform: scale(1.1);
}
.wrapper-advantages:first-child{
  margin-top: 0px !important;
}

.advantages-element{
  width: 100%;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: var(--main-color);
  opacity: .8;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 5px black;
  transition: .3s;
  cursor: pointer;
}
.advantages-element:hover{
  opacity: 1;
  transform: scale(1.05);
}
.advantages-element>div>img{
  width: 60px;
  height: 60px;
  margin-right: 15px;
  margin-left: 15px;

}
.advantages-element>.advantages-text{
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  background-color: #ffffff5b;
  padding: 10px;
  border-radius: 5px;
}
.advantages-element>.advantages-title{
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 5px;

  border-bottom: 1px solid yellow;
}
.wrapper-services{
  margin-bottom: 10px;
}
.services-element:first-child{
  margin-top: 0px !important;
}
.services-element{
  width: 100%;
  
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #ffffff25;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  transition: .3s;
  
}
.services-element:hover{
  transform: scale(1.05);
}
.services-element>img{
  width: 60px;
  height: 60px;
  margin-right: 20px;

}

.wrapper-projects{
  
  position: relative;
  /* border: 1px solid rgb(0, 255, 13); */
  width: 80%;
  margin-bottom: 10px;
  
}
.wrapper-projects-box{
  width: 100%;
  min-height: 350px;
  overflow: hidden;
  position: relative;
}
.projects-element{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .3s;

  /* transform: translateY(-100px); */


}
.projects-box{
  max-width: 500px;
  width: 80%;
  height: 99%;
  background-color: var(--main-color);
  opacity: .9;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 0 5px black;
  transition: .3s;
  cursor: pointer;

}
.projects-box:hover{
  opacity: 1;
}
.projects-box>img{
  width: 200px;
  border-radius: 15px;
}
.projects-box>p{
  max-width: 400px;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffffff2c;
  border-radius: 5px;
}
.projects-box>button{
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 0 5px black;
  background-color: var(--button-color);
  cursor: pointer;
  transition: .3s;
}

.button-left, .button-right{
  
  position: absolute;
  top: 50%;
  transform: translateX(-25px) translateY(-50%);
  z-index: 5 !important;
  transition: .3s;

}
.button-left>img, .button-right>img{

  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px black;
  border-radius: 50%;
  cursor: pointer;

}
.button-left:hover, .button-right:hover{
  transform: translateX(-25px) translateY(-50%) scale(1.1);
}
.button-left{
  left: 0;
  
}
.button-right{
  left: 100%;

}

.wrapper-clients{
  min-height: 120px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.wrapper-clients-elements{
  width: 100%;
  height: 100%;
  position: absolute;

  overflow-x: auto;
  overflow-y: hidden;

  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  
}

.wrapper-clients-elements::-webkit-scrollbar {
  width: 10px;               /* ширина scrollbar */
}
.wrapper-clients-elements::-webkit-scrollbar-track {
  background: var(--main-color)       /* цвет дорожки */
}
.wrapper-clients-elements::-webkit-scrollbar-thumb {
  background-color: #ffffff18;    /* цвет плашки */
  border-radius: 1px;       /* закругления плашки */
  border: 5px solid var(--main-color)  /* padding вокруг плашки */
}

.wrapper-clients-elements>img{
  width: 80px;
  height: 80px;
  margin: 0px 20px 20px 0px;
  border-radius: 15px;
}

.wrapper-contacts{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  flex-wrap: wrap;

  margin-bottom: 20px;

}

.button-contacts{
  min-width: 250px;

  display: flex;
  align-items: center;

  padding: 10px 20px 10px 20px;
  background-color: var(--button-color);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 5px black;
  opacity: .9;
  transition: .3s;
  cursor: pointer;
  
  font-size: 20px;
}
.button-contacts:hover{
  opacity: 1;
  transform: scale(1.05);
}
.button-contacts>img{
  width: 40px;
  height: 40px;
  margin-right: 30px;
}
.wrapper-contacts>p{
  text-align: center;
  margin-top: 10px;
}

footer{
  display: none;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 5px black;
}

footer>img, footer>a>img{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-left: 15px;
}
